[submodule "/Users/brian/.config/nvi"]
	path = /Users/brian/.config/nvi
	url = https://github.com/NvChad/starter
[submodule "/Users/brian/.config/nvim"]
	path = /Users/brian/.config/nvim
	url = https://github.com/NvChad/starter
